<div class="card clickable" (click)="toggleView()">
  <div class="card-header">
    <h3>{{ article.headline }}</h3>
  </div>
  <div class="card-block">
    <div class="card-media-block wrap">
      <img [src]="article.thumbnail" class="card-media-image">
      <small class="card-media-title">{{ article.byLine }}</small>
    </div>
    <div class="card-content">
      <p class="card-text">{{ (compactView ? article.short : article.body) }}</p>
    </div>
  </div>
  <div class="card-footer">
    {{ article.lastModifiedDate | amLocal | amTimeAgo }}
    <clr-icon shape="minus"></clr-icon>
    {{ article.lastModifiedDate | amLocal | date:'medium' }}
  </div>
</div>
