.card-img {
  img {
    max-height: 250px;
    object-fit: cover;
  }
}

.card-block {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'emotion text';
}

.card-media-block {
  grid-area: emotion;
  margin-bottom: 0;

  .card-media-image {
    max-height: 4.5rem;
    max-width: 4.5rem;
    height: 4.5rem;
    width: 4.5rem;
  }
}

.card-text {
  grid-area: text;
}

::ng-deep {
  .modal-body {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .modal-footer {
    padding: 0;
    text-align: left;
  }
}
